html,body {
    padding:0;
    margin:0;
}

h1, h2 {
    margin:0;
}


/* メイン */
.famous-design {
    height:600px;
    background-color:rgb(241, 252, 253);
    padding:20px;
    box-sizing:border-box;
    border-bottom:1px solid black;
    
}
.foumous-flex {
    display:flex;
}
.explanation {
    width:60%;
}
.famous-design img {
    border-radius:3rem;
    float:right;
}