html,body {
    padding:0;
    margin:0;
    font-family: 'Roboto', sans-serif;
}

h1, h2 {
    margin:0;
}


/* メイン */

.famous-design {
    height:750px;
    box-sizing:border-box;
    border:1px solid black;
    background: #95ccff;
    border-radius:3rem;
}
.remains {
    width:95%;
    margin:20px auto;
    border-radius:4rem;
}
.foumous-flex {
    width:95%;
    display:flex;
    justify-content:center;
    margin:0 auto;
    position:relative;
    top:40px;
}

.img-frame {
    width:50%;
    height:60%;
}
.famous-design img {
    width:100%;
    border-radius:3rem;
}
.explanation {
    width:45%;
    padding:20px;
    box-sizing:border-box;
}
.explanation h2 {
    width:fit-content;
    background-color:yellow;
    margin-bottom:20px;
}
.remains p {
    font-size:1.5em;
    line-height:3rem;
    font-weight:lighter;
}
.button {
    width:80%;
    margin:0 auto;
    margin-top:180px;
}
.button a {
    width:100%;
    text-decoration:none;
    color: black;
    border:1px solid black;
    padding: 10px 150px;
    border-radius:2rem;
    display:flex;
    justify-content:center;
}
.button a:hover {
    color:white;
    background-color:#4e4e4e;

}

.airport {
    width:95%;
    margin:20px auto;
    border-radius:4rem;
}
.airport p {
    font-size:1.5em;
    line-height:3rem;
    font-weight:lighter;
}