html,body {
    padding:0;
    margin:0;
    font-family: 'Roboto', sans-serif;
    background-color: #f6f3f6
}

h1, h2 {
    margin:0;
}


/* メイン */

.famous-design {
    height:750px;
    width:40%;
    box-sizing:border-box;
    border:1px solid black;
    background-color:white;
    padding:10px;
}
.remains {
    margin-left:10%;
}
.foumous-flex {
    width:95%;
    margin:0 auto;
}

.img-frame {
    width:90%;
}
.famous-design img {
    width:100%;
}
.explanation {
    width:90%;
    padding:20px;
    box-sizing:border-box;
}
.explanation h2 {
    width:fit-content;
    background-color:yellow;
    margin-bottom:20px;
}
.famous-design p {
    font-weight:lighter;
}
.button {
    width:80%;
    margin:0 auto;
}
.button a {
    width:100%;
    text-decoration:none;
    color: black;
    border:1px solid black;
    border-radius:2rem;
    display:flex;
    justify-content:center;
}
.button a:hover {
    color:white;
    background-color:#4e4e4e;

}

.airport {
    width:95%;
    margin:20px auto;
}
.airport p {
    font-size:1.5em;
    line-height:3rem;
    font-weight:lighter;
}